<div class="editor">
  <p-fieldset
    legend="Edytuj"
    [toggleable]="true"
    [collapsed]="true"
    [style]="{ width: '850px' }"
  >
    <p-editor
      [(ngModel)]="section"
      [style]="{ height: '320px' }"
      [style]="{ width: '850px' }"
      icon="pi-arrow-down"
    ></p-editor>
    <p></p>
    <p-button
      label="Zatwierdź zmiany"
      icon="pi pi-check"
      iconPos="left"
      (click)="update()"
      [routerLink]="['/locationsList']"
    ></p-button>
  </p-fieldset>
</div>
