<p-table #dt [value]="documents" [paginator]="true" [rows]="10">
  <ng-template pTemplate="header">
    <tr>
      <th [pSortableColumn]="'name'">
        Imie
        <p-sortIcon [field]="'name'"></p-sortIcon>
      </th>
      <th>Rasa</th>
      <th [pSortableColumn]="'weapon'">
        Broń
        <p-sortIcon [field]="'weapon'"></p-sortIcon>
      </th>
      <th>Opcja</th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-col>
    <tr>
      <td>{{ col.name }}</td>
      <td>{{ col.race }}</td>
      <td>{{ col.weapon }}</td>
      <td>
        <div class="button">
          <p-button
            label="Szczegóły"
            [routerLink]="['/character', col.id]"
          ></p-button>
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
