<div class="row">
  <div class="main-section">
    <h1>{{ myLocation.name }}</h1>
    <app-main-section
      [myName]="myLocation.section"
      (newSection)="editSection($event)"
    >
    </app-main-section>
    <div class="delete">
      <app-delete-location [location]="myLocation"></app-delete-location>
    </div>
  </div>
  <div class="description">
    <div class="location-img">
      <app-photo [image]="myLocation.image"> </app-photo>
    </div>
    <div class="properties">
      <app-properties [myLocation]="myLocation"></app-properties>
      <div>Data utworznia artykułu: {{ myLocation.creationDate | date }}</div>
    </div>
  </div>
</div>
<p></p>
