<p-button
  label="Usuń ten wpis"
  icon="pi pi-times"
  iconPos="left"
  styleClass="ui-button-danger"
  (onClick)="deleteLocation()"
></p-button>

<p-card
  header="Advanced Card"
  subheader="Subheader"
  [style]="{ width: '360px' }"
  styleClass="ui-card-shadow"
>
  <p-header>
    <!-- <img alt="Card" src="YOUR_IMAGE_PATH"> -->
  </p-header>
  <div style="line-height: 1.5;">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed
    consequuntur error repudiandae numquam deserunt quisquam repellat libero
    asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate
    neque quas!
  </div>
  <p-footer>
    <button
      pButton
      type="button"
      label="Save"
      icon="pi pi-check"
      style="margin-right: 0.25em;"
    ></button>
    <button
      pButton
      type="button"
      label="Cancel"
      icon="pi pi-times"
      class="ui-button-secondary"
    ></button>
  </p-footer>
</p-card>
