<div>
  <div class="container">
    <div class="row">
      <div class="search-hero">
        <input
          class="form-control"
          type="text"
          name="search"
          [(ngModel)]="searchText"
          autocomplete="off"
          placeholder=" Wyszukaj"
          (keyup)="search()"
        />
      </div>
      <table class="table table-striped" *ngIf="display">
        <thead>
          <tr>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let item of informations | filter: searchText"
            style="cursor: pointer;"
          >
            <td (click)="routeTo(item)">{{ item.name }}</td>
            <td>w {{ item.typ }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
